<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../static/cdn/fontawesome/css/all.css"
    />
    <script src="../static/cdn/jquery/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      href="../static/cdn/highlight/styles/vs.min.css"
    />
    <script src="../static/cdn/highlight/highlight.min.js"></script>
    <script src="../static/cdn/socket-io-4.4.0/socket.io.min.js"></script>
    <script src="../static/user-agent.js"></script>
    <link rel="stylesheet" href="../static/style.css" />
    <style type="text/css">
      pre code.hljs {
        padding: 3px 5px;
        background-color: var(--light-color);
      }
    </style>
    <title>Code Board</title>
  </head>

  <body>
    <div class="chat-container">
      <header class="chat-header">
        <h1><i class="fas fa-clipboard-list"></i> CodeBoard</h1>
        <a href="/logout" class="btn">Logout</a>
      </header>
      <main class="chat-main">
        <div class="chat-sidebar">
          <h3><i class="fas fa-clipboard"></i> Board Name:</h3>
          <h2 id="room-name"></h2>
          <h3><i class="fas fa-users"></i> Users</h3>
          <ul id="users"></ul>
        </div>
        <div class="chat-messages">
          <div class="message more-msg">
            <div class="addmore">
              <i class="fas fa-plus-circle" id="addicon"></i>
            </div>
          </div>
        </div>
      </main>
      <div class="chat-form-container">
        <form
          action="/upload"
          method="post"
          enctype="multipart/form-data"
          id="uploadform"
        >
          <input type="file" name="file" id="file" multiple="multiple" />
          <button class="btn" id="up" style="margin-bottom: 5px;"><i class="fas fa-upload" ></i></button>
        </form>
        <form id="chat-form">
          <textarea
            id="msg"
            type="text"
            placeholder="Enter Message"
            required
            autocomplete="off"
          ></textarea>
          <button class="btn"><i class="fas fa-paper-plane"></i> Send</button>
        </form>
      </div>
    </div>

    <script src="../static/high.js"></script>
  </body>
</html>
